﻿<div>
    <nav class="navbar navbar-default .navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <i class="fa fa-home"></i>
                    <span data-bind="text : router.mString.MINNA1"></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel">
                    <li data-bind="css: { active: isActive }">
                        <a data-bind="attr: { href: hash }, text: title"></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="loader" data-bind="css: { active: router.isNavigating }">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="search" data-bind="submit:search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div data-bind="router: { transition:'entrance' }"></div>
</div>