<!--Created by nhatdear on 3/16/2016.-->
<section>
    <div class="btn-group-vertical" role="group" aria-label="..." data-bind="foreach: features" style="width: 100%">
        <button type="button" class="btn btn-default" data-bind="{text:$data.displayName,click: $parent.onUnitClick}" style="width: 100%"></button>
    </div>
</section>